

body {
    font-family: Arial, sans-serif;
     background-color:#d7f3f0;
}

.container {
           background-color:#;
           width:800px;
           height:auto;
           margin-left:auto;
           margin-right:auto;
}      
          
.header {
        background-color: #28a745;
        width:800px;
        height:80px;
        padding-top:60px;
        font-size:50px;
        text-align:center;
        text-width:bold;
        color:  white;
        text-shadow:1px 2px darkgreen;
}                    
            
.prof {
        text-align: justify;

}          
.nav {
     background-color: #b9fbc0;
     color: white;
     width:800px;
     height:50px;
     font-size:20px;
     text-align:center;
     padding-bottom:0px;
     position: sticky;
     top:0px;

}

.nav ul li {
        list-style:none;
        display:inline-block;
        padding:10px;
        color:white; 
        text-decoration: none;
       
 
}

.nav ul li:hover {
       background: white;
      
}


.tab {
    width: 50%;
    height: 150px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}


.footer {
        background:black;
        width:800px;
        height:40px;
        color:white;
        border:2px white;
        padding-top:20px;
        text-align:center;

}  

.styled-image {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}
